<!DOCTYPE html>
<html>
  <head>
    <title>MbMaintenanceUi</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "logins", :media => "all" %>
  </head>

  <body class="body_loginclass">
  <%= yield %>
  </body>
</html>